!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

		title My Site

		link(rel='stylesheet', href='/css/style.css')
		script(src='/js/libs/jquery.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/libs/showdown.js')
		script(src='/js/scripts.js')

	body
		block body

		footer
			p &copy; Dean Coulter 2013
			p Email: dcoulter45@gmail.com
			p Twitter: @Dean_Coulter
