!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

		title Admin - Node cms

		link(rel='stylesheet', href='css/admin.css')
		script(src='/js/libs/jquery.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/controller.js')

body#login

	form#loginForm
		h1 Admin
		
		input(type="text", id="username", placeholder="Username")
		<br/>
		input(type="password", id="password", placeholder="Password")
		</br/>
		input(type="submit", id="submit", value="Login")

		#shadow